<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}
    {% endblock %}
    {% if title %}
            <title>{{ title }}</title>
    {% else %}
            <title>LARM</title>
    {% endif %}
</head>
<body>
    {% block menu %}
    <a href="{{ url_for('index') }}">Home</a>
    <a href="#">Monitor</a>
    <a href="#">Data</a>
    <a href="#">Config</a>
    <a href="{{ url_for('login') }}">Login</a>
    {% endblock %}
    <hr>   
    {% block content %}
    {% endblock %}
</body>
</html>