<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Document</title>
</head>
<body>
    <main>
        
        <div class="container">
            <h1>Welcome</h1>
            <img class="logo" src="{{ url_for('static', filename='png/logo.png') }}" alt="">
            
            <form class="login" action="" method="post">
                {{ form.hidden_tag() }}
                <div class="txt_field">
                    {{ form.username }}
                    <span></span>
                    {{ form.username.label }}
                </div>
                <div class="txt_field">
                    {{ form.password }}
                    <span></span>
                    {{ form.password.label }}
                </div>
                <div class="remember">{{ form.remember_me() }} {{ form.remember_me.label }}</div>
                {{ form.submit }}
                <div class="signup_link">
                    Not a member? <a href="#">Sign Up</a>
                </div>
            </form>
            <div class="social-login"></div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>